{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mycontent">
  <div class="jumbotron">

<h1>REMINDER</h1>
<h5>| Lets You Know |</h5>
<div class="container">
  <img src="{% static "Remndr/images/remn.jpg" %}" alt="">
</div><br>
<p>REMINDER! handle your forgetfullness.</p>
<p>This App enables you to keep reminders for events like birthdays and other things in your
  everday busy life between family, friends and work.</p>
  <h6>So Be Little Forgetful !.</h6>

</div>
</div>


{% endblock %}
